/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/*Navbar*/

.logo {
    width: 90px;
    padding: 10px 0;
}

ul.nav.navbar-nav{
    padding: 20px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-toggle {
 margin-top: 31px; 
}


/* Header */

header h1 h3 {
    color: #474344;
}
/* About */

.about {
    padding: 10px 0;
}

/* Footer */

footer {
    font-size: 16px;
}

footer p {
    display: inline;
    font-size: 1.3em;
    padding-left: 10px;
}

.footer-style {
    font-size: 1.5em;
}

footer h2 {
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
}

.copyright p {
    font-size: .8em;
}

/*Media Queries*/


.responsive-image{
    width: 100%;
    background-size: 100% 100%;
}
/* Retina display */
@media screen and (min-width: 1024px){
    .responsive-image{
        background-image: url('../img/retina.jpg');
    }
}
/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    .responsive-image{
        background-image: url('../img/desktop.jpg');
    }
}
/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
    .responsive-image{
        background-image: url('../img/tablet.jpg');
    }
}
/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
    .responsive-image{
        background-image: url('../img/mobile-hd.jpg');
    }
    .logo {
        width: 75px;
    }
    .navbar-toggle {
        margin-top: 25px;
    }
}
/* Mobile LD */
@media screen and (max-width: 350px){
    .responsive-image{
        background-image: url('../img/mobile-ld.jpg');
    }
    .logo {
        width: 75px;
    }
    .navbar-toggle {
        margin-top: 25px;
    }
}